## Exercício 1: Vestibular

Considere que a os dados gerados na célula abaixo contêm o número de acertos de 100 alunos em um vestibular para um curso de exatas, divididas pelos respectivos assuntos. Considere que cada assunto possui um número de questões conforme a tabela abaixo:

| assunto | número de questões |
|:---:|:---:|
| Matemática | 24 |
| Português | 18 |
| Geografia | 8 |
| Inglês | 8 |
| História | 8 |
| Física | 12 |
| Química | 12 |

Usando os comandos de operações com DataFrames que você aprendeu na Aula 03, calcule:

1. (operações com escalar) Calcule o percentual de acerto dos alunos por assunto.  
2. (operações entre *DataFrames) Calcule o total de acertos de cada aluno.  
3. Calcule o porcentual geral de cada aluno.  
4. Suponha que a nota de corte para a segunda fase seja 45. Quantos alunos tiveram nota maior que 45?

In [1]:
import pandas as pd
import numpy as np

In [ ]:
# Gerando os dados do Dataframe com o Random
np.random.seed(42)
df_mat = pd.DataFrame(np.random.randint(24, size=(100, 1)), columns=['Qt_acertos'])

df_por = pd.DataFrame(np.random.randint(18, size=(100, 1)), columns=['Qt_acertos'])

df_geo = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_ing = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_his = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_fis = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

df_qui = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

In [ ]:
# 1). Percentual de acerto dos alunos por assunto

# Criar um DataFrame contendo o número de questões por assunto
questoes_por_assunto = pd.DataFrame({
    'Assunto': ['Matemática', 'Português', 'Geografia', 'Inglês', 'História', 'Física', 'Química'],
    'Num_Questoes': [24, 18, 8, 8, 8, 12, 12]
})

# Listar os DataFrames de cada assunto
dfs = [df_mat, df_por, df_geo, df_ing, df_his, df_fis, df_qui]

# Calcular o percentual de acerto por assunto
for i, df in enumerate(dfs):
    assunto = questoes_por_assunto.loc[i, 'Assunto']
    num_questoes = questoes_por_assunto.loc[i, 'Num_Questoes']
    
    df['Percentual_Acerto'] = (df['Qt_acertos'] / num_questoes) * 100

# Exibir os primeiros registros de um dos DataFrames para verificar os resultados
print(df_mat.head())

In [ ]:
# 2) (operações entre *DataFrames) Calcule o total de acertos de cada aluno. 

# Listar os DataFrames de cada assunto
dfs = [df_mat, df_por, df_geo, df_ing, df_his, df_fis, df_qui]

# Criar um DataFrame vazio para armazenar o total de acertos de cada aluno
df_total_acertos = pd.DataFrame()

# Calcular o total de acertos de cada aluno
for i, df in enumerate(dfs):
    assunto = questoes_por_assunto.loc[i, 'Assunto']
    
    # Adicionar a coluna de acertos do assunto ao DataFrame de total de acertos
    df_total_acertos[f'{assunto}_acertos'] = df['Qt_acertos']

# Calcular a coluna de total de acertos
df_total_acertos['Total_Acertos'] = df_total_acertos.sum(axis=1)

# Exibir os primeiros registros do DataFrame de total de acertos
print(df_total_acertos.head())

In [ ]:
# 3) Calcule o porcentual geral de cada aluno. 

# Calcular o número total de questões do vestibular
total_questoes_vestibular = questoes_por_assunto['Num_Questoes'].sum()

# Calcular o percentual geral de cada aluno
df_total_acertos['Percentual_Geral'] = (df_total_acertos['Total_Acertos'] / total_questoes_vestibular) * 100

# Exibir os primeiros registros do DataFrame de total de acertos com o percentual geral
print(df_total_acertos.head())

In [ ]:
# 4) Suponha que a nota de corte para a segunda fase seja 45. Quantos alunos tiveram nota maior que 45?

# Definir a nota de corte
nota_de_corte = 45

# Filtrar os alunos que tiveram nota maior que a nota de corte
alunos_aprovados = df_total_acertos[df_total_acertos['Total_Acertos'] > nota_de_corte]

# Contar o número de alunos aprovados
num_alunos_aprovados = len(alunos_aprovados)

# Exibir o resultado
print(f"O número de alunos com nota maior que {nota_de_corte} é: {num_alunos_aprovados}")

## 2) Vestibular II

Ainda sobre o mesmo banco de dados:

1. Neste vestibular, quem 'zera' em matemática, física ou química está desqualificado. Monte um novo *DataFrame* com os alunos desqualificados por este critério.
2. Quantos são esses alunos?
3. Qual a média desses alunos em história e geografia?
4. Monte um *DataFrame* com os alunos que passaram para a segunda fase. Repare que estes alunos não podem ter sido desqualificados.

In [ ]:
# seu código aqui

# Criar um DataFrame contendo os alunos desqualificados
df_desqualificados = df_total_acertos[(df_mat['Qt_acertos'] == 0) | (df_fis['Qt_acertos'] == 0) | (df_qui['Qt_acertos'] == 0)]

# Exibir os primeiros registros do DataFrame de alunos desqualificados
print(df_desqualificados.head())

In [ ]:
# 2) Quantos são esses alunos?

# Calcular o número de alunos desqualificados
num_alunos_desqualificados = len(df_desqualificados)

# Exibir o resultado
print(f"O número de alunos desqualificados é: {num_alunos_desqualificados}")

In [ ]:
# Qual a média desses alunos em história e geografia?

# Filtrar as notas de História e Geografia para os alunos desqualificados
notas_hist_geo_desqualificados = df_desqualificados[['História_acertos', 'Geografia_acertos']]

# Calcular a média em História e Geografia para os alunos desqualificados
media_hist_geo_desqualificados = notas_hist_geo_desqualificados.mean()

# Exibir o resultado
print("Média dos alunos desqualificados em História e Geografia:")
print(media_hist_geo_desqualificados)

In [ ]:
# Monte um DataFrame com os alunos que passaram para a segunda fase. Repare que estes alunos não podem ter sido desqualificados.

# Criar um DataFrame contendo os alunos que passaram para a segunda fase
df_aprovados_segunda_fase = df_total_acertos[~df_total_acertos.index.isin(df_desqualificados.index)]

# Exibir os primeiros registros do DataFrame de alunos aprovados na segunda fase
print(df_aprovados_segunda_fase.head())

### OBservação: Devido a problemas técnico no Dataset da plaforma SUS optei por outro banco de dados.

## 3) Vacinações no Ceará
Vamos trabalhar agora com a base de vacinações no Acre. Para facilitar a sua vida, copiamos o link do arquivo na célula abaixo.

1. Quantas vacinas estão registradas nessa base?  
2. Quantos pacientes foram vacinados? (considere um paciente para cada valor único de ```paciente_id```)  
3. Quantos pacientes únicos tomaram a primeira dose? OBS: Há um caractere especial neste campo. Receba os valores do campo com o método ```.unique()```.   
4. Quantos pacientes com menos de 18 anos foram vacinados?  
5. Quantos estabelecimentos aplicaram vacina no Acre?


**OBS:** O portal do DATASUS pode apresentar instabilidades, retornando um erro na segunda célula abaixo. Por este motivo está disponível uma base estática, que se for baixada para o seu *working directory* pode ser lida com este comando: ```df = pd.read_csv('registros de vacinacao covid ACRE.csv', sep=';')```.

**OBS2:** Para saber qual é o seu working directory, rode no jupyter: ```!pwd```.

In [ ]:
!pwd

In [2]:
df = pd.read_csv('dados_covid.csv')
print ("Número de linhas e colunas da tabela: {}".format(df.shape))

df.head()

Número de linhas e colunas da tabela: (191, 329)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 319,Unnamed: 320,Unnamed: 321,Unnamed: 322,Unnamed: 323,Unnamed: 324,Unnamed: 325,Unnamed: 326,Unnamed: 327,Unnamed: 328
0,Município,SRS,ADS,Trabalhadores de Saúde - Meta,Trabalhadores de Saúde - Doses aplicadas (D1),Trabalhadores de Saúde - Doses aplicadas (DU),Trabalhadores de Saúde - Doses aplicadas (D2),Trabalhadores de Saúde - Doses aplicadas (DR),Trabalhadores de Saúde - Doses aplicadas (REF2),Trabalhadores de Saúde - Doses distribuídas (D1),...,População IBGE (Acima 12 anos),População IBGE (Acima 18 anos),População IBGE (Acima 70 anos),População IBGE (40 anos e mais e Trabalhadores...,População (40 anos e mais Janssen),CV (%) parcial - D1,CV (%) parcial - (D2+DU),CV (%) parcial - (D3),CV (%) parcial - DR/DA,CV (%) parcial - REF2/REF3
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Abaiara,Cariri,19,157,205,1,205,313,205,199,...,9986,8915,753,4689,52,"73,24","79,75",0,"44,61","48,73"
3,Acarape,Fortaleza,3,176,215,0,179,173,119,233,...,12586,11236,949,5863,28,"88,78","81,57","1,78","58,42","42,01"
4,Acaraú,Norte,12,824,1187,6,1182,690,132,1238,...,52835,47166,3983,24715,48,"87,51","77,46",0,"48,58","25,65"

In [3]:
print(df.columns)

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       ...
       'Unnamed: 319', 'Unnamed: 320', 'Unnamed: 321', 'Unnamed: 322',
       'Unnamed: 323', 'Unnamed: 324', 'Unnamed: 325', 'Unnamed: 326',
       'Unnamed: 327', 'Unnamed: 328'],
      dtype='object', length=329)

In [4]:
colunas_desejadas = ['Unnamed: 0','Unnamed: 319','Unnamed: 320','Unnamed: 321','Unnamed: 322','Unnamed: 323']

In [5]:
df = df.loc[:, colunas_desejadas]

In [6]:
print(df)

                                            Unnamed: 0  \
0                                            Município
1                                                  NaN
2                                              Abaiara
3                                              Acarape
4                                               Acaraú
..                                                 ...
186                                              CEARÁ
187  Fonte: Secretarias Municipais de Saúde. Dados ...
188  * Nota: Esses dados referem-se aos dados agreg...
189  **Nota: O % de doses aplicadas está calculado ...
190  ***Nota: Em razão do avanço da Campanha de Vac...

                       Unnamed: 319                    Unnamed: 320  \
0    População IBGE (Acima 12 anos)  População IBGE (Acima 18 anos)
1                               NaN                             NaN
2                              9986                            8915
3                             12586                           11236
4                             52835                           47166
..                              ...                             ...
186                       7.622.452                       6.802.007
187                             NaN                             NaN
188                             NaN                             NaN
189                             NaN                             NaN
190                             NaN                             NaN

                       Unnamed: 321  \
0    População IBGE (Acima 70 anos)
1                               NaN
2                               753
3                               949
4                              3983
..                              ...
186                         579.060
187                             NaN
188                             NaN
189                             NaN
190                             NaN

                                          Unnamed: 322  \
0    População IBGE (40 anos e mais e Trabalhadores...
1                                                  NaN
2                                                 4689
3                                                 5863
4                                                24715
..                                                 ...
186                                          3.744.257
187                                                NaN
188                                                NaN
189                                                NaN
190                                                NaN

                           Unnamed: 323
0    População (40 anos e mais Janssen)
1                                   NaN
2                                    52
3                                    28
4                                    48
..                                  ...
186                              22.755
187                                 NaN
188                                 NaN
189                                 NaN
190                                 NaN

[191 rows x 6 columns]

In [7]:
df.head()

,Unnamed: 0,Unnamed: 319,Unnamed: 320,Unnamed: 321,Unnamed: 322,Unnamed: 323
0,Município,População IBGE (Acima 12 anos),População IBGE (Acima 18 anos),População IBGE (Acima 70 anos),População IBGE (40 anos e mais e Trabalhadores...,População (40 anos e mais Janssen)
1,NaN,NaN,NaN,NaN,NaN,NaN
2,Abaiara,9986,8915,753,4689,52
3,Acarape,12586,11236,949,5863,28
4,Acaraú,52835,47166,3983,24715,48

In [8]:
df_atual = {
    'Unnamed: 0': 'Município',
    'Unnamed: 319':'Acima 12 anos',
    'Unnamed: 320':'Acima 18 anos',
    'Unnamed: 321':'Acima 70 anos',
    'Unnamed: 322':'40 anos e mais trabalhadores',
    'Unnamed: 323':'40 anos e mais...Janssen'
}

In [9]:
df = df.rename(columns=df_atual)

In [10]:
df.head()

,Município,Acima 12 anos,Acima 18 anos,Acima 70 anos,40 anos e mais trabalhadores,40 anos e mais...Janssen
0,Município,População IBGE (Acima 12 anos),População IBGE (Acima 18 anos),População IBGE (Acima 70 anos),População IBGE (40 anos e mais e Trabalhadores...,População (40 anos e mais Janssen)
1,NaN,NaN,NaN,NaN,NaN,NaN
2,Abaiara,9986,8915,753,4689,52
3,Acarape,12586,11236,949,5863,28
4,Acaraú,52835,47166,3983,24715,48

In [12]:
df = df.drop([0,1])

In [13]:
df.head()

,Município,Acima 12 anos,Acima 18 anos,Acima 70 anos,40 anos e mais trabalhadores,40 anos e mais...Janssen
2,Abaiara,9986,8915,753,4689,52
3,Acarape,12586,11236,949,5863,28
4,Acaraú,52835,47166,3983,24715,48
5,Acopiara,45462,40584,3427,21949,40
6,Aiuaba,14618,13049,1102,6887,124

In [14]:
df = df.reset_index(drop=True)

In [15]:
df.head()

,Município,Acima 12 anos,Acima 18 anos,Acima 70 anos,40 anos e mais trabalhadores,40 anos e mais...Janssen
0,Abaiara,9986,8915,753,4689,52
1,Acarape,12586,11236,949,5863,28
2,Acaraú,52835,47166,3983,24715,48
3,Acopiara,45462,40584,3427,21949,40
4,Aiuaba,14618,13049,1102,6887,124

In [16]:
nan_df = df.isna()

In [17]:
df = df.fillna(0)

In [18]:
df.shape[0]

189

'99868915753468952'

In [ ]:
# 3)

In [ ]:
# 3) solução alternativa

In [ ]:
# 4)

In [ ]:
# 5)

## 4) Vacinação II
Gere um *DataFrame* que contenha somente os estabelecimentos que aplicaram vcinas a menores de 18 anos. Nesse *DataFrame* devem conter somente os dados dos estabelecimentos, mais uma coluna sendo a quantidade de vacinas que o estabelecimento aplicou a menores de 18 anos.  
  
1. crie uma cópia do *DataFrame* original, contendo somente os registros de vacinas realizadas a menores de 18 anos.  
2. crie uma lista das colunas desse *DataFrame* com o atributo de *DataFrame* **.columns()**  
3. Nesse *DataFrame* faça uma contagem do campo ```vacina_categoria_nome```.
3. a partir da lista de colunas, escolha somente aquelas que são referentes ao estabelecimento, faça uma lista com esses valores.  
4. usando o método *.loc*, selecione somente essas variáveis  
5. Aplique o método **.drop_duplicates** e crie uma lista com uma linha para cada estabelecimento, com os dados do estabelecimento

In [ ]:
# 1)

In [ ]:
# 2)

In [ ]:
# 3)

In [ ]:
# 4)

In [ ]:
# 5)