### Análise da estrutura de correlação de várias variáveis

Em um modelo de regressão, é importante avaliar a estrutura de correlação entre as variáveis explicativas. Nesse contexto, podemos entender a correlação como um 'compartilhamento de informação'. Por exemplo, se temos duas variáveis explicativas com correlação igual a 1, certamente podemos eliminar uma delas no modelo. Vamos discutir em detalhes a influência de casos mais intermediários em modleos lineares mais adiante. Por hora vamos avaliar métodos de identificar esses padrões.

#### Matriz de dispersão

Já vimos como fazer esse tipo de gráfico, e que pode ser muito útil. Sua desvantagem é quando temos muitos pontos e muitas variáveis, ele pode não ser tão prático.

In [19]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
# Fixing random state for reproducibility
np.random.seed(2360873)

penguins = sns.load_dataset("penguins")

In [24]:
penguins = pd.read_csv('Profissao- Cientista de Dados_M10_support material.csv')

In [25]:
pinguins = penguins.select_dtypes(include=[np.number])  # Selecionar apenas colunas numéricas
matriz_de_correlacao = pinguins.corr()  # Calcular a matriz de correlação

In [26]:
pinguins.corr()

,Unnamed: 0,index,qtd_filhos,idade,tempo_emprego,qt_pessoas_residencia,renda
Unnamed: 0,1.000000,-0.001868,0.015612,-0.004328,-0.002146,0.016628,0.007646
index,-0.001868,1.000000,0.039734,-0.047971,-0.034574,0.041818,-0.001740
qtd_filhos,0.015612,0.039734,1.000000,-0.364303,-0.074250,0.896488,0.009567
idade,-0.004328,-0.047971,-0.364303,1.000000,0.323934,-0.338805,0.042570
tempo_emprego,-0.002146,-0.034574,-0.074250,0.323934,1.000000,-0.065748,0.394235
qt_pessoas_residencia,0.016628,0.041818,0.896488,-0.338805,-0.065748,1.000000,0.020977
renda,0.007646,-0.001740,0.009567,0.042570,0.394235,0.020977,1.000000

In [27]:
penguins = sns.load_dataset("pinguins")

sns.pairplot(penguins, hue='species')

ValueError: 'pinguins' is not one of the example datasets.

In [23]:
cmap = sns.diverging_palette(h_neg=125, h_pos=350, as_cmap=True, sep = 60, center = 'light')

sns.clustermap(penguins.corr(), figsize=(10, 10), center = 0, cmap=cmap)

ValueError: could not convert string to float: 'Adelie'