# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [1]:
# Biblioteca pandas e numpy
import pandas as pd
import numpy as np

In [5]:
# Dados fornecidos
dados = {'ano': [1900, 1920, 1940, 1960, 1980, 2000, 2020],
         'anomalia_termica': [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]}

dados

{'ano': [1900, 1920, 1940, 1960, 1980, 2000, 2020],
 'anomalia_termica': [-0.08, -0.27, 0.12, -0.03, 0.26, 0.4, 1.02]}

#### 2) Coloque os anos nos índices conforme a tabela.

In [6]:
# Criar a série do pandas
serie_temperatura = pd.Series(dados['anomalia_termica'], index=dados['ano'])

# Exibir a série
print(serie_temperatura)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [8]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

dic_temperaturas

{1900: -0.08,
 1920: -0.27,
 1940: 0.12,
 1960: -0.03,
 1980: 0.26,
 2000: 0.4,
 2020: 1.02}

In [9]:
# Criar a série do pandas
serie_temperatura = pd.Series(dic_temperaturas)

# Exibir a série
print(serie_temperatura)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe.
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [11]:
arr = np.random.normal(100, 10, (20,3))

arr

array([[ 95.77516952, 101.42709297,  91.09961714],
       [100.18947671,  84.92562021,  93.74173216],
       [ 96.9513124 ,  94.89771408,  98.12582948],
       [ 96.77064111,  92.07970178,  96.61352345],
       [105.5141036 ,  95.07248154, 102.28346598],
       [ 89.81470792,  96.94406505,  76.88165044],
       [ 79.43085394,  91.33406288,  92.18624313],
       [ 86.51653306, 112.08333512,  90.41659463],
       [100.37666929,  83.22091541, 102.65144496],
       [105.53435951, 107.08481914,  98.65705323],
       [100.53991762, 100.29837074, 104.81945223],
       [104.41206398, 104.32358238,  81.41825703],
       [103.10815914,  88.03761815, 102.56567364],
       [ 94.62076663, 109.04854984, 117.99932055],
       [ 89.4625112 ,  82.33934857,  97.23509999],
       [ 93.37921784,  85.95928575,  91.52367367],
       [108.71316654,  99.8633806 ,  94.11199944],
       [ 97.33667677, 108.81605318, 102.60060375],
       [ 74.26367822,  92.78728777, 108.03085308],
       [ 89.76496838, 113.85791524,  84.77379027]])

In [12]:
# Transformar o ndarray em DataFrame
df = pd.DataFrame(arr, columns=['Coluna1', 'Coluna2', 'Coluna3'])

# Exibir o DataFrame
print(df)

       Coluna1     Coluna2     Coluna3
0    95.775170  101.427093   91.099617
1   100.189477   84.925620   93.741732
2    96.951312   94.897714   98.125829
3    96.770641   92.079702   96.613523
4   105.514104   95.072482  102.283466
5    89.814708   96.944065   76.881650
6    79.430854   91.334063   92.186243
7    86.516533  112.083335   90.416595
8   100.376669   83.220915  102.651445
9   105.534360  107.084819   98.657053
10  100.539918  100.298371  104.819452
11  104.412064  104.323582   81.418257
12  103.108159   88.037618  102.565674
13   94.620767  109.048550  117.999321
14   89.462511   82.339349   97.235100
15   93.379218   85.959286   91.523674
16  108.713167   99.863381   94.111999
17   97.336677  108.816053  102.600604
18   74.263678   92.787288  108.030853
19   89.764968  113.857915   84.773790

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [15]:
# Transformar o ndarray em DataFrame
df = pd.DataFrame(arr, columns=['x1', 'x2', 'x3'])

# Nomear os índices das linhas de 1 a 20
df.index = np.arange(1, 21)

# Exibir o DataFrame
print(df)

            x1          x2          x3
1    95.775170  101.427093   91.099617
2   100.189477   84.925620   93.741732
3    96.951312   94.897714   98.125829
4    96.770641   92.079702   96.613523
5   105.514104   95.072482  102.283466
6    89.814708   96.944065   76.881650
7    79.430854   91.334063   92.186243
8    86.516533  112.083335   90.416595
9   100.376669   83.220915  102.651445
10  105.534360  107.084819   98.657053
11  100.539918  100.298371  104.819452
12  104.412064  104.323582   81.418257
13  103.108159   88.037618  102.565674
14   94.620767  109.048550  117.999321
15   89.462511   82.339349   97.235100
16   93.379218   85.959286   91.523674
17  108.713167   99.863381   94.111999
18   97.336677  108.816053  102.600604
19   74.263678   92.787288  108.030853
20   89.764968  113.857915   84.773790

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [16]:
# Adicionar a coluna "media"
df['media'] = df.mean(axis=1)

# Exibir o DataFrame
print(df)

            x1          x2          x3       media
1    95.775170  101.427093   91.099617   96.100627
2   100.189477   84.925620   93.741732   92.952276
3    96.951312   94.897714   98.125829   96.658285
4    96.770641   92.079702   96.613523   95.154622
5   105.514104   95.072482  102.283466  100.956684
6    89.814708   96.944065   76.881650   87.880141
7    79.430854   91.334063   92.186243   87.650387
8    86.516533  112.083335   90.416595   96.338821
9   100.376669   83.220915  102.651445   95.416343
10  105.534360  107.084819   98.657053  103.758744
11  100.539918  100.298371  104.819452  101.885914
12  104.412064  104.323582   81.418257   96.717968
13  103.108159   88.037618  102.565674   97.903817
14   94.620767  109.048550  117.999321  107.222879
15   89.462511   82.339349   97.235100   89.678987
16   93.379218   85.959286   91.523674   90.287392
17  108.713167   99.863381   94.111999  100.896182
18   97.336677  108.816053  102.600604  102.917778
19   74.263678   92.787288  108.030853   91.693940
20   89.764968  113.857915   84.773790   96.132225

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [17]:
# Adicionar a coluna "log_med"
df['log_med'] = np.log(df['media'])

# Exibir o DataFrame
print(df)

            x1          x2          x3       media   log_med
1    95.775170  101.427093   91.099617   96.100627  4.565396
2   100.189477   84.925620   93.741732   92.952276  4.532086
3    96.951312   94.897714   98.125829   96.658285  4.571182
4    96.770641   92.079702   96.613523   95.154622  4.555503
5   105.514104   95.072482  102.283466  100.956684  4.614692
6    89.814708   96.944065   76.881650   87.880141  4.475974
7    79.430854   91.334063   92.186243   87.650387  4.473356
8    86.516533  112.083335   90.416595   96.338821  4.567871
9   100.376669   83.220915  102.651445   95.416343  4.558250
10  105.534360  107.084819   98.657053  103.758744  4.642068
11  100.539918  100.298371  104.819452  101.885914  4.623854
12  104.412064  104.323582   81.418257   96.717968  4.571799
13  103.108159   88.037618  102.565674   97.903817  4.583986
14   94.620767  109.048550  117.999321  107.222879  4.674910
15   89.462511   82.339349   97.235100   89.678987  4.496236
16   93.379218   85.959286   91.523674   90.287392  4.502998
17  108.713167   99.863381   94.111999  100.896182  4.614092
18   97.336677  108.816053  102.600604  102.917778  4.633930
19   74.263678   92.787288  108.030853   91.693940  4.518456
20   89.764968  113.857915   84.773790   96.132225  4.565725