# Tarefa 02 Módulo 05

O nosso projeto desta sequência de módulos do curso será um aprofundamento da demonstração sobre classificação de risco de crédito que vimos lá no comecinho. Pois recebemos uma base já montada pra nós. Tenha certeza de que ela passou por um longo processamento até ficar daquele jeito. Neste exercício vamos exercitar o que aprendemos nas ultimas aulas e montar a variável resposta da base do nosso projeto.

#### Marcação de bom e mau
O objetivo da modelagem é classificar o risco de inadimplência, ou como se diz no meio, o risco de *default*. Podemos fazer longas discussões sobre o conceito de *default* com base em estudos e exigências regulatórias, para efeitos deste estudo, um cliente em *default* é aquele que está em 60 dias de atraso ou mais. Então classificaremos os clientes como 'bons' e 'maus' assim:
- **Maus** pagadores: são aqueles que entraram em 'default' (atraso 60 dias ou mais) nos 24 meses seguintes à aquisição do cartão de crédito.
- **Bons** pagadores: são considerados todos os demais.
- **Excluídos**: Clientes que não adquiriram um cartão de crédito (seja por recusa, seja por desistência) não possuem informações de pagamento, portanto não se pode identificar se são bons ou maus. Há uma longa discussão e literatura sobre *inferência de rejeitados* que está fora do escopo deste exercício.

#### Bases disponíveis
Temos duas bases importantes aqui: uma de propostas, com diversas informações dos vários solicitantes de cartão de crédito, e uma base de pagamentos. A base de pagamentos será utilizada para identificar a ocorrência de *default*. A base de propostas tem diversas informações coletadas no momento da solicitação do crédito (isto é importante: qualquer informação posterior a essa data é impossível de ser coletada na aplicação do modelo e não pode ser utilizada).

As variáveis delas são:

Base de propostas - application_records.csv

| Nome da Variável         | Description                                         | Tipo  |
| ------------------------ |:---------------------------------------------------:| -----:|
| ID| identificador do cliente (chave) |inteiro|
| CODE_GENDER| M = 'Masculino'; F = 'Feminino' |M/F|
| FLAG_OWN_CAR| Y = 'possui'; N = 'não possui' |Y/N|
| FLAG_OWN_REALTY| Y = 'possui'; N = 'não possui' |Y/N|
| CNT_CHILDREN| Quantidade de filhos |inteiro|
| AMT_INCOME_TOTAL| Annual income |inteiro|
| NAME_INCOME_TYPE|Tipo de renda (ex: assaliariado, autônomo etc) | texto |
| NAME_EDUCATION_TYPE| Nível de educação (ex: secundário, superior etc) |texto|
| NAME_FAMILY_STATUS | Estado civil (ex: solteiro, casado etc)| texto |
| NAME_HOUSING_TYPE | tipo de residência (ex: casa/apartamento, com os pais etc) | texto |
| DAYS_BIRTH | Count backwards from current day (0), -1 means yesterday |inteiro|
| DAYS_EMPLOYED | Count backwards from current day (0), -1 means yesterday |inteiro|
| FLAG_MOBIL | Indica se possui celular (1 = sim, 0 = não) |binária|
| FLAG_WORK_PHONE | Indica se possui telefone comercial (1 = sim, 0 = não) |binária|
| FLAG_PHONE | Indica se possui telefone (1 = sim, 0 = não) |binária|
| FLAG_EMAIL | Indica se possui e-mail (1 = sim, 0 = não) |binária|
| OCCUPATION_TYPE | Occupation	 |Qualitativa|
| CNT_FAM_MEMBERS | quantidade de pessoas na residência |inteiro|

Base de pagamentos - pagamentos_largo.csv  

| Nome da Variável         | Description                                         | Tipo  |
| ------------------------ |:---------------------------------------------------:| -----:|
| ID| identificador do cliente (chave) |inteiro|
| mes_00 a mes_24| faixa de atraso mês a mês do cliente <br>0: 1-29 days past due &nbsp;&nbsp;&nbsp;&nbsp; 1: 30-59 days past due <br />2: 60-89 days overdue &nbsp;&nbsp;&nbsp;&nbsp; 3: 90-119 days overdue <br /> 4: 120-149 days overdue &nbsp;&nbsp;&nbsp;&nbsp; 5: more than 150 days <br />C: paid off that month &nbsp;&nbsp;&nbsp;&nbsp; X: No loan for the month |Qualitativa|

#### Construindo a variável resposta
A base de pagamentos está em um formato de 'base larga'. Essa base possui informações de pagamentos do cliente mês a mês a partir do mês de aquisição do crédito (mês 0) até o vigésimo quarto mês após a aquisição do crédito (mês 24). Utilizaremos essa base para determinar se um proponente é considerado 'bom pagador' ou caso apresente atraso representativo, será considerado 'mau pagador'.

#### Base larga vs base longa
A base ser larga significa que há uma linha para cada cliente, e que as informações estarão nas colunas, em contraste com a 'base longa', em que haveria uma linha para cada combinação cliente/mês, uma coluna indicando o cliente, outra indicando o mês, e apenas uma coluna com a informação do atraso.

#### Tarefa 1) Marcar *default* no mês
Faça uma indicadora de se o cliente está em *default* em cada uma das marcações (mes_00 a mes_24). Dica: você pode utilizar o método ```.isin()``` do Pandas. Consulte a [documentação](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.isin.html) caso necessário.

#### Tarefa 2) 'bons' e 'maus' ao longo de todos os 24 meses de desempenho
Marque para cada cliente se ele teve pelo menos um episódio de *default* entre o mês 0 e o mês 24. Dica: o método ```sum()``` pode ajudar. Caso precise, consulte a [documentação](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sum.html) e procure pelo argumento ```axis```, você viu outros métodos que possuem esse argumento também. Tendo o número de meses em default de cada cliente, basta marcar ```True``` para todos aqueles que possuem pelo menos 1 mês em *default* e ```False``` para os demais.

#### Tarefa 3) Marcando proponentes expostos ao risco de crédito
Marcando proponentes que se tornaram tomadores: lembre-se de que clientes que não adquiriram o cartão devem ser desconsiderados. A base de pagamentos possui apenas clientes que adquiriram cartão de crédito, então você pode selecionar somente os clientes da base de propostas que se encontram na base de pagamentos.

#### Tarefa 4) Consolidando as informações
Faça uma junção das informações da base de propostas com a variável de *default* que você acabou de construir. Talvez você consiga realizar a tarefa 3 e tarefa 4 em uma única linha de código ;)

#### Tarefa 5) Verificando
Faça uma contagem dos valores do *default* que você construiu.

In [5]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

### Importando o Pandas

In [3]:
import pandas as pd

Importando os dados

In [6]:
propostas = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/EBAC/Limpeza e tratamento de dados /application_record.csv')
pg = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/EBAC/Limpeza e tratamento de dados /pagamentos_largo.csv')

In [ ]:
pg.head()

,ID,mes_0,mes_1,mes_10,mes_11,mes_12,mes_13,mes_14,mes_15,mes_16,...,mes_22,mes_23,mes_24,mes_3,mes_4,mes_5,mes_6,mes_7,mes_8,mes_9
0,5001718,0,0,0,0,0,0,0,0,NaN,...,NaN,0,NaN,0,0,0,0,NaN,0,NaN
1,5001719,0,0,C,C,C,C,C,C,C,...,C,C,C,C,C,C,C,C,C,C
2,5001720,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,5001723,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0,0,0,0,0,NaN,NaN
4,5001726,0,0,C,C,C,C,C,C,C,...,C,C,C,0,0,0,C,C,C,C

### 1. Marcar default no mês
### Faça uma indicadora de se o cliente está em default em cada uma das marcações (mes_00 a mes_24). Dica: você pode utilizar o método .isin() do Pandas. Consulte a documentação caso necessário.

In [7]:
# Verificando as colunas do Dataframe
pg.columns

Index(['ID', 'mes_0', 'mes_1', 'mes_10', 'mes_11', 'mes_12', 'mes_13',
       'mes_14', 'mes_15', 'mes_16', 'mes_17', 'mes_18', 'mes_19', 'mes_2',
       'mes_20', 'mes_21', 'mes_22', 'mes_23', 'mes_24', 'mes_3', 'mes_4',
       'mes_5', 'mes_6', 'mes_7', 'mes_8', 'mes_9'],
      dtype='object')

In [8]:
# Indicadores de default (ind_default)
ind_default = ['2','3', '4', '5']

# Criando uma coluna indicadora de default para cada mês
for col in pg.columns:
    pg[f'{col}_default'] = pg[col].isin(ind_default).astype(int)

In [9]:
# Verificando as colunas do Dataframe
pg.columns

Index(['ID', 'mes_0', 'mes_1', 'mes_10', 'mes_11', 'mes_12', 'mes_13',
       'mes_14', 'mes_15', 'mes_16', 'mes_17', 'mes_18', 'mes_19', 'mes_2',
       'mes_20', 'mes_21', 'mes_22', 'mes_23', 'mes_24', 'mes_3', 'mes_4',
       'mes_5', 'mes_6', 'mes_7', 'mes_8', 'mes_9', 'ID_default',
       'mes_0_default', 'mes_1_default', 'mes_10_default', 'mes_11_default',
       'mes_12_default', 'mes_13_default', 'mes_14_default', 'mes_15_default',
       'mes_16_default', 'mes_17_default', 'mes_18_default', 'mes_19_default',
       'mes_2_default', 'mes_20_default', 'mes_21_default', 'mes_22_default',
       'mes_23_default', 'mes_24_default', 'mes_3_default', 'mes_4_default',
       'mes_5_default', 'mes_6_default', 'mes_7_default', 'mes_8_default',
       'mes_9_default'],
      dtype='object')

### 2.  'bons' e 'maus' ao longo de todos os 24 meses de desempenho Marque para cada cliente se ele teve pelo menos um episódio de default entre o mês 0 e o mês 24. Dica: o método sum() pode ajudar. Caso precise, consulte a documentação e procure pelo argumento axis, você viu outros métodos que possuem esse argumento também. Tendo o número de meses em default de cada cliente, basta marcar True para todos aqueles que possuem pelo menos 1 mês em default e False para os demais.

In [10]:
# Criando uma nova coluna com valores booleanos para classificar os clientes com Default
pg['com_default'] = pg.apply(lambda row: any(row.isin(ind_default)), axis=1)

In [11]:
# Clientes que não efetuaram pagamento
pg['com_default'].value_counts()

False    20506
True       431
Name: com_default, dtype: int64

In [12]:
# verificando a tabela
pg.set_index(pg['ID'])

,ID,mes_0,mes_1,mes_10,mes_11,mes_12,mes_13,mes_14,mes_15,mes_16,...,mes_23_default,mes_24_default,mes_3_default,mes_4_default,mes_5_default,mes_6_default,mes_7_default,mes_8_default,mes_9_default,com_default
ID,,,,,,,,,,,,,,,,,,,,,
5001718,5001718,0,0,0,0,0,0,0,0,NaN,...,0,0,0,0,0,0,0,0,0,False
5001719,5001719,0,0,C,C,C,C,C,C,C,...,0,0,0,0,0,0,0,0,0,False
5001720,5001720,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,False
5001723,5001723,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,False
5001726,5001726,0,0,C,C,C,C,C,C,C,...,0,0,0,0,0,0,0,0,0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5150475,5150475,C,C,C,C,C,C,C,C,C,...,0,0,0,0,0,0,0,0,0,False
5150476,5150476,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,False
5150480,5150480,0,0,C,C,C,C,C,C,C,...,0,0,0,0,0,0,0,0,0,False
5150482,5150482,0,0,0,0,C,C,C,C,C,...,0,0,0,0,0,0,0,0,0,False
5150487,5150487,C,C,C,C,C,C,C,C,C,...,0,0,0,0,0,0,0,0,0,False

In [13]:
# Clientes com_default
ids_default = pg[pg['com_default']]['ID']

ids_default

130      5002126
177      5002283
303      5002642
355      5002795
556      5003267
          ...
20523    5149192
20734    5149698
20744    5149728
20745    5149730
20776    5149838
Name: ID, Length: 431, dtype: int64

### 3. Marcando proponentes que se tornaram tomadores: lembre-se de que clientes que não adquiriram o cartão devem ser desconsiderados. A base de pagamentos possui apenas clientes que adquiriram cartão de crédito, então você pode selecionar somente os clientes da base de propostas que se encontram na base de pagamentos.

In [14]:
# Utilizando a intersecção dos que receberam proposta
recebeu_proposta = propostas.merge(pg, on='ID', how='inner')
recebeu_proposta

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,...,mes_23_default,mes_24_default,mes_3_default,mes_4_default,mes_5_default,mes_6_default,mes_7_default,mes_8_default,mes_9_default,com_default
0,5008806,M,Y,Y,0,112500.0,Working,Secondary / secondary special,Married,House / apartment,...,0,0,0,0,0,0,0,0,0,False
1,5008810,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,...,0,0,0,0,0,0,0,0,0,False
2,5008811,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,...,0,0,0,0,0,0,0,0,0,False
3,5112956,M,Y,Y,0,270000.0,Working,Higher education,Married,House / apartment,...,0,0,0,0,0,0,0,0,0,False
4,5008825,F,Y,N,0,130500.0,Working,Incomplete higher,Married,House / apartment,...,0,0,0,0,0,0,0,0,0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16645,5149042,F,N,Y,0,180000.0,Working,Secondary / secondary special,Civil marriage,House / apartment,...,0,0,0,1,0,0,0,0,0,True
16646,5149056,F,N,Y,0,112500.0,Commercial associate,Secondary / secondary special,Married,House / apartment,...,0,0,0,0,0,1,1,0,0,True
16647,5149145,M,Y,Y,0,247500.0,Working,Secondary / secondary special,Married,House / apartment,...,0,0,0,0,0,0,1,1,0,True
16648,5149158,M,Y,Y,0,247500.0,Working,Secondary / secondary special,Married,House / apartment,...,0,0,0,0,1,0,1,0,0,True
16649,5149838,F,N,Y,0,157500.0,Pensioner,Higher education,Married,House / apartment,...,0,0,0,0,0,0,0,1,1,True

### 4. Faça uma junção das informações da base de propostas com a variável de default que você acabou de construir. Talvez você consiga realizar a tarefa 3 e tarefa 4 em uma única linha de código ;)

In [16]:
# Filtrando os IDs que com default e simultaneamente receberam a proposta
recebeu_proposta_default = recebeu_proposta[recebeu_proposta['com_default']]['ID']
recebeu_proposta_default

284      5009628
328      5009746
393      5009938
625      5010535
627      5010541
          ...
16645    5149042
16646    5149056
16647    5149145
16648    5149158
16649    5149838
Name: ID, Length: 390, dtype: int64

### 5. Verificando

### Faça uma contagem dos valores do default que você construiu.

In [17]:
# Contabilizando os clientes com default
recebeu_proposta_default.nunique()

390